<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <script type="module" src="randomData.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>Förbudsskyltar</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Generera din egen förbudsskylt</h1>
        </div>
    </div>
    <div class="hero">
        <p>Har du någongång haft behov av att förmedla ett förbud på ett trevligt sätt? Då är den här tjänsten för dig!</p>
    </div>

    <div id="app" class="container">
        <p>Fyll i svaren så att de stämmer överens med just din situation:</p>
        <div class="form">


            <div class="row">
                <label for="location" name="location" id="location">Vart ska förbudet gälla?</label>

                <input id="location" name="location" v-model="location" placeholder="ex. hall, altan, skola">
            </div>
                <p>OBS! Lägg till "en" eller "ett" framför din plats</p>
            


            <div class="row"><label for="activity" name="activity" id="activity">Det är förbjudet att:</label>

            <input id="location" name="location" v-model="input" placeholder="ex. spring, klättra, skrik"></div>

            <button id="submit" class="btn" @click="generateSign">Generera skylt</button>
            <button id="random" class="btn" @click="generateRandomSign">Slumpa fram en skylt</button>


        </div>
        <div id="sign" class="sign">
            <span>Här är ditt förbud:</span>
            <sign
                v-bind:location="location"
                v-bind:forbidden="forbidden"></sign>     
            <button id="button" class="btn" @click="resetSign">Gör om skylt</button>       
        </div>
        
    </div>
    
</body>
</html>